<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>


<button [routerLink]="['home']">Home</button>
<button [routerLink]="['mine']">Inquiring Customer</button>
<button [routerLink]="['buy']">Noted Customer</button>
<button [routerLink]="['sell']">Sell Coins</button>
<button [routerLink]="['browse']">Browse Ledger</button>

<!-- <app-alpha></app-alpha> -->
<!-- <app-beta></app-beta> -->
<router-outlet></router-outlet>
